.navbar .navbar-brand {
	color: rgba(215, 215, 215, .8);
 
}
/* .jumbotron {
    background-image: url('../img/f5aba111301475.560f58821d58b.jpg');

    background-position: center;
    background-repeat: no-repeat;
		background-size: cover;
}

.cd-fixed-bg {  
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; */
}

/* .cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../img/rehab\ prayere.xx_large.jpg");
  opacity: 75%;
  background-position: center no-repeat cover;
}

.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../img/n-SINGLE-MOM-628x314.jpg");
}

.cd-fixed-bg.cd-fixed-bg--3 {
  background-image: url("../img/womanbeer.jpg");
}

.cd-scrolling-bg {
min-height: 100%;

}

.disclaimer {
	font-size: .75em;
}
.navbar-nav

  .navbar-logo {
	float: right;
	margin: 13px 0 0 5%;
  }
  
  .cd-main-header__logo img {
	display: inline;
  } */